<ion-view view-title="Akun">
	<ion-content class="has-header" scroll="false">
		<div class="row" ng-show="tombol">
			<div class="col text-center">
				<p>Kamu belum masuk, silahkan masuk dengan akun facebook kamu.</p>
				<img src="img/fb.png" ng-click="fbLogin()">
			</div>
		</div>
		
		<div class="list card" ng-show="!tombol">
			<div class="item">
				<h2>{{user.name}}</h2>
			</div>
			<div class="item item-body text-center">
				<img src="http://graph.facebook.com/{{user.id}}/picture?width=200&height=200"/>
			</div>
			<div class="col">
				<a class="button button-block button-balanced" href="#/app/usulan">
			    	Lihat Usulan Saya
			    </a>
				<button class="button button-block button-assertive" ng-click="logout()">
			    	Keluar
			    </button>
			</div>
		</div>
	</ion-content>
</ion-view>