<ion-view view-title="Beranda">
	<ion-content ng-init="data()">
		<!-- <div class="wisata-header">
			<ion-slide-box>
				<ion-slide ng-repeat="data in dataWisataKuliner">
					<img ng-src="{{data.photo_wisata}}"> 
				</ion-slide>
			</ion-slide-box>
		</div> -->
		<ion-refresher on-refresh="doRefresh()"></ion-refresher>
		<div class="list" style="margin-bottom: 0px;">
			<div class="item item-divider">
				Wisata Kuliner Terbaik
			</div>

			<a class="item item-thumbnail-left item-text-wrap" ng-repeat="data in dataWisataKuliner" href="#/app/wisata/kuliner/{{data.wisata_id}}">
				<img ng-src="{{data.photo_wisata}}" onerror="this.src='img/menu/alam.png'">
				<h2>{{data.nama_wisata}}</h2>
				<p>
					<i class="ion-ios-location" style="color:#EF473A;"></i> {{data.alamat_wisata}}
				</p>
			</a>
		</div>
		<div class="list" style="margin-bottom: 0px;">
			<div class="item item-divider">
				Wisata Alam Terbaik
			</div>

			<a class="item item-thumbnail-left item-text-wrap" ng-repeat="data in dataWisataAlam" href="#/app/wisata/alam/{{data.wisata_id}}">
				<img ng-src="{{data.photo_wisata}}" onerror="this.src='img/menu/alam.png'">
				<h2>{{data.nama_wisata}}</h2>
				<p>
					<i class="ion-ios-location" style="color:#EF473A;"></i> {{data.alamat_wisata}}
				</p>
			</a>
		</div>

		<!-- <div class="row">
			<div class="col col-50 text-right">
				<img src="img/menu/alam.png" width="75%" >
			</div>
			<div class="col col-50 text-left">
				<img src="img/menu/kuliner.png" width="75%">
			</div>
		</div> -->

		<!-- <div id="map" data-tap-disabled="true" style="width: 100%;height: 100%;"></div> -->
		
	</ion-content>
	<!-- <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar> -->
</ion-view>