<ion-view view-title="Tidak ada koneksi ke server" hide-nav-bar="true" >
	<ion-content scroll="false">
		<div class="row">
			<div class="col">
				<div class="list card">
					<div class="item item-divider" style="background-color:#2C3E50; color:#fff;">
						Maaf tidak ada balasan dari server.
					</div>
					<div class="item">
						<button class="button button-block button-positive" id="refresh" ng-click="refreshKoneksi()">Refresh Aplikasi</button>
					</div>
					<div class="item">
						<button class="button button-block button-dark" ng-click="exit()">Keluar Aplikasi</button>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>