<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="abLembang-nav">
      <ion-nav-back-button>
        Back
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button abLembang-button-clear icon ion-navicon" menu-toggle="left">
      
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="abLembang-nav">
      <h1 class="title">Wisata Lembang</h1>
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i class="ion ion-home"></i> Beranda
        </ion-item>
        <ion-item menu-close href="#/app/wisata/kuliner">
          <i class="ion-fork"></i><i class="ion-knife"></i> Wisata Kuliner
        </ion-item>
        <ion-item menu-close href="#/app/wisata/alam">
          <i class="ion-map"></i> Wisata Alam
        </ion-item>
        <ion-item menu-close href="#/app/galeri">
          <i class="ion-images"></i> Galeri Wisata
        </ion-item>
        <ion-item menu-close href="#/app/usulan">
          <i class="ion-flag"></i> Usul Wisata
        </ion-item>
         <ion-item menu-close href="#/app/akun">
          <i class="ion-person"></i> Akun
        </ion-item>
        <ion-item menu-close ng-click="exit()">
          <i class="ion ion-power"></i> Keluar
        </ion-item>
        <!-- <ion-item menu-close href="#/app/playlists">
          <i class="ion ion-bag"></i> Playlists
        </ion-item>
        <ion-item menu-close href="#/app/map">
          <i class="ion ion-power"></i> Map
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
