<ion-view title="Kirim Usulan">
	<ion-content>

		<div class="row" ng-show="!allowUsulan">
			<div class="col text-center">
				<p>Kamu belum masuk, silahkan masuk terlebih dahulu untuk memberi usulan tempat wisata.</p>
				<a class="button button-positive" href="#/app/akun">Masuk</a>
			</div>
		</div>

		<div class="list" ng-show="allowUsulan">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nama Wisata</span>
				<input type="text" ng-model="usulan.nama" placeholder="Floating">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Alamat</span>
				<textarea ng-model="usulan.alamat" placeholder="Alamat"></textarea>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Deskripsi</span>
				<textarea ng-model="usulan.deskripsi" placeholder="Deskripsi wisata"></textarea>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Tipe Wisata
				</div>
				<select
                  ng-model="usulan.tipe" 
                  ng-options="status.value as status.name for status in statuses">
                </select>
			</label>
			<div ng-show="picData" class="item item-image">
				<img id="myImage" class="item" ng-src="{{picData}}"/>
			</div>
			<div class="row button-bar">
				<a class="button button-positive" ng-click="takePicture();">Ambil Foto</a>
				<a class="button button-balanced" ng-click="selectPicture()">Pilih Foto</a>
			</div>
			<div class="row">
				<button ng-click="kirim(usulan)" class="button button-block button-positive">
					Kirim Usulan
				</button>
			</div>
		</div>
		
		
		
	</ion-content>
</ion-view>