<ion-view title="Daftar Usulan">
	<ion-content ng-init="data()">
		<ion-refresher on-refresh="refresh()"></ion-refresher>
		<div class="row" ng-show="!allowUsulan">
			<div class="col text-center">
				<p>Kamu belum masuk, silahkan masuk terlebih dahulu untuk melihat usulan tempat wisata anda.</p>
				<a class="button button-positive" href="#/app/akun">Masuk</a>
			</div>
		</div>		

		<div class="list" ng-show="allowUsulan" style="margin-bottom: 0px;">

			<div class="col text-center">
				<a class="button button-positive" href="#/app/usulan/kirim">Kirim Usulan</a>
			</div>

			<div class="item item-divider">
				Usulan Saya
			</div>

			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" ng-model="q" placeholder="Cari">
			</label>

			<div class="item item-thumbnail-left item-text-wrap" ng-repeat="data in dataUsulan | filter:q as results">
				<img ng-src="{{data.foto || 'img/default.png'}}" onerror="this.src='img/default.png'">
				<h2>{{data.nama_wisata}} ({{(data.tipe=='alam')? 'Wisata Alam' : 'Wisata Kuliner'}})</h2>
				<p>
					<i class="ion-ios-location" style="color:#EF473A;"></i> {{data.alamat_wisata}}
				</p>
				<p style="color:#33CD5F;" ng-show="data.status==1">
					Diterima
				</p>
				<p style="color:#EF473A;" ng-show="data.status==2">
					Wisata Ditolak
				</p>
				<p style="color:#fca530;" ng-show="data.status==3">
					Menunggu Konfirmasi
				</p>
				<a ng-show="data.status==1" href="#/app/wisata/{{(data.tipe=='kuliner') ? 'kuliner' : 'alam'}}/{{data.wisata_id}}" class="button button-small button-balanced">
					Lihat
				</a>
				<button ng-click="hapusWisata({{data.wisata_id}},'{{data.tipe}}')"class="button button-small button-assertive">
					Hapus
				</button>
			</div>

			<div ng-if="results.length == 0" style="padding-bottom: 0px;margin-bottom: 0px;">
				<div class="row">
					<div class="col">
						<!-- Kata kunci "<b>{{q}}</b>"  -->tidak ada wisata.
					</div>
				</div>
			</div>
		</div>
		
	</ion-content>
</ion-view>