<ion-view view-title="{{title}}">
	<ion-content ng-init="data()" overflow-scroll='false' delegate-handle="userDetailContent" on-scroll="onUserDetailContentScroll()" header-shrink scroll-event-interval="5">
		<ion-refresher on-refresh="doRefresh()"></ion-refresher>
		<div class="wisata-header">
			<div class="wisata-media">
				<!-- <div class="wisata-details">
					<img  ng-src="http://lorempixel.com/400/500/people" class="img-circle wisata-image">
					<h5 class="color-white">
						people
					</h5>
					<p>
						Some thing About
					</p>
				</div> -->
				<img ng-src="{{datana.cover_photo}}" onerror="this.src='img/menu/alam.png'" style="width: 100%;height: auto;">
			</div>
			<div class="row menu-detail">
				<div class="col col-33">
					<a ng-click="openMap()" class="menu-item">
						<i class="ion-map"></i><br>Peta
					</a>
				</div>
				<div class="col col-34">
					<a ng-click="openGaleri()" class="menu-item">
						<i class="ion-images"></i><br>Galeri
					</a>
				</div>
				<div class="col col-33">
					<a ng-click="openKomentar()" class="menu-item">
						<i class="ion-chatbox"></i><br>Komentar
					</a>
				</div>
				<!-- <div class="col col-25">
					<a href="" class="menu-item">
						<i class="ion-android-share-alt"></i><br>Bagikan
					</a>
				</div> -->
			</div>
			<div class="row like-btn" style="background-color:#000;-moz-opacity: 0.6;opacity: 0.6;">
				<div class="col text-left">
					{{datana.nama_wisata}}
					<div star-rating rating="nilai" read-only="false" max-rating="5" click="click(param)"></div> {{datana.totRating}} Users
					<!-- <div ng-class="liked ? 'bg-color-red like-button-with-text':'bg-color-white like-button'" ng-click="like()">
						<i class="ion-heart" ng-class="liked ? 'color-white':'color-red'"></i>
						<span ng-if="liked">Liked</span>
					</div> -->
				</div>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Deskripsi Wisata
			</div>
			<div class="item item-text-wrap" id="detailWisata" ng-bind-html="trust(datana.deskripsi_wisata)"></div>
		</div>

	</ion-content>
</ion-view>