<ion-modal-view>
	<ion-header-bar class="abLembang-nav">
		<h1 class="title">Galeri</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeGaleri()">x</button>
		</div>
	</ion-header-bar>
	<ion-content ng-init="loadGaleri()">
		<div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
			<div class="col col-25" ng-if="$index < images.length">
				<img ng-src="{{(images[$index].src) || 'img/default.png'}}" width="100%" ng-click="showImages($index)"/>
			</div>
			<div class="col col-25" ng-if="$index + 1 < images.length">
				<img ng-src="{{(images[$index + 1].src) || 'img/default.png'}}" width="100%" ng-click="showImages($index+1)"/>
			</div>
			<div class="col col-25" ng-if="$index + 2 < images.length">
				<img ng-src="{{(images[$index + 2].src) || 'img/default.png'}}" width="100%" ng-click="showImages($index+2)"/>
			</div>
			<div class="col col-25" ng-if="$index + 3 < images.length">
				<img ng-src="{{(images[$index + 3].src) || 'img/default.png'}}" width="100%" ng-click="showImages($index+3)"/>
			</div>
		</div>

		<div class="row">
			<div class="col col-100 list">
				<div class="item item-text-wrap" ng-if="images.length==0">
					Tidak ada foto
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>