<ion-modal-view>
	<ion-header-bar class="abLembang-nav">
		<h1 class="title">Komentar</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeKomentar()">x</button>
		</div>
	</ion-header-bar>
	<ion-content class="has-footer" ng-init="tampilKomentar()">
		<ion-refresher on-refresh="tampilKomentar()"></ion-refresher>
		<div class="row">
			<div class="col col-100 list">
				<!-- <div class="item" style="text-align:center;" id="loading">
					<img src="img/loading.gif" height="40px" />
				</div> -->
				<div class="item item-thumbnail-left item-text-wrap" ng-repeat="hasil in komentar">
					<img ng-src="img/default.png">
					<h2>{{hasil.oleh}}</h2>
					{{hasil.komentar}}
					<br>
					<button class="button button-small button-assertive" ng-if="hasil.fb_id==userInfo.fbid" ng-click="hapusKomentar({{hasil.komentar_id}},{{hasil.fb_id}})">
					<i class="ion-trash-b"></i>
					</button>
				</div>

				<div class="item item-text-wrap" ng-if="komentar.length==0">
					Tidak ada komentar
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar ng-show="!allowKomentar" class="bar-dark">
		<a ng-click="masukKomentar()" class="button button-icon icon ion-log-in">Masuk untuk memberi komentar</a>
	</ion-footer-bar>

	<ion-footer-bar ng-show="allowKomentar" keyboard-attach class="bar-dark item-input-inset">
		<label class="item-input-wrapper">
			<input type="text" placeholder="Masukkan komentar anda" on-return="kirimKomentar(komentar); closeKeyboard()" ng-model="komentar.pesan"/>
		</label>
		<button class="button button-clear" ng-click="kirimKomentar(komentar)">
			Kirim
		</button>
	</ion-footer-bar>

</ion-modal-view>