<ion-view view-title="{{title}}">
	<ion-content ng-init="data()">
		<ion-refresher on-refresh="doRefresh()"></ion-refresher>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" ng-model="q" placeholder="Cari">
			</label>
		</div>

		<div ng-repeat="data in datana | filter:q as results">
			<a class="item item-thumbnail-left item-text-wrap" href="#/app/wisata/{{(page=='alam') ? 'alam' : 'kuliner'}}/{{data.wisata_id}}">
				<img ng-src="{{data.cover_photo}}" onerror="this.src='img/menu/alam.png'">
				<h2>{{data.nama_wisata}}</h2>
				<p>
					<!-- <i ng-show="!data.nilai" class="ion-android-star-outline"></i> -->
					<div star-rating rating="data.nilai" read-only="true" max-rating="5"></div>

					<!-- <i style="background-color:#2C3E50;color:#fff;padding-left:5px;margin-right:2px;">
						
					</i>  Wisata 20m <br>-->
					<i class="ion-ios-location" style="color:#EF473A;"></i> {{data.alamat_wisata}}
				</p>
			</a>
		</div>

		<div ng-if="results.length == 0" style="padding-bottom: 0px;margin-bottom: 0px;">
			<div class="row">
				<div class="col">
					<!-- Kata kunci "<b>{{q}}</b>"  -->tidak ada usulan wisata.
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>