<ion-modal-view>
	<ion-header-bar class="abLembang-nav">
		<h1 class="title">Map</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeMap()">x</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div id='map' data-tap-disabled="true">
			<google-map control="map.control" center="map.center" zoom="map.zoom">
				<marker coords="marker.center"></marker>
			</google-map>
		</div>
		<div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>
	</ion-content>
	<ion-footer-bar class="bar-dark">
		<a ng-click="ambilDireksi()" class="button button-icon icon ion-navigate">Lihat Jalur</a>
	</ion-footer-bar>
</ion-modal-view>