<!-- <div class="modal image-modal transparent" ng-click="closeModal()">
	<ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
		<ion-slide ng-repeat="oImage in images">
			<img ng-src="{{oImage.src}}" class="fullscreen-image" />
			<p class="info">{{oImage.msg}}</p>
		</ion-slide>
	</ion-slide-box>
</div> -->

<div class="modal image-modal transparent" on-swipe-down="closeModal()">
  <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
    <ion-slide ng-repeat="image in images">
 
      <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
      zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
      delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">
 
      <div class="image" style="background-image: url( {{image.src}} )"></div>
      <p class="info" ng-show="image.msg!=''">{{image.msg}}</p>
    </ion-scroll>
  </ion-slide>
</ion-slide-box>
</div>