<ion-view view-title="Galeri Wisata">
	<ion-content ng-init="loadImages()">
		<div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
			<div class="col col-25" ng-if="$index < images.length">
				<img ng-src="{{(images[$index].src) || 'img/default.png'}}" width="100%" ng-click="showImages($index)"/>
			</div>
			<div class="col col-25" ng-if="$index + 1 < images.length">
				<img ng-src="{{(images[$index + 1].src) || 'img/default.png'}}" width="100%" ng-click="showImages($index+1)"/>
			</div>
			<div class="col col-25" ng-if="$index + 2 < images.length">
				<img ng-src="{{(images[$index + 2].src) || 'img/default.png'}}" width="100%" ng-click="showImages($index+2)"/>
			</div>
			<div class="col col-25" ng-if="$index + 3 < images.length">
				<img ng-src="{{(images[$index + 3].src) || 'img/default.png'}}" width="100%" ng-click="showImages($index+3)"/>
			</div>
		</div>
	</ion-content>
</ion-view>