<ion-view view-title="Detail Map">
	<ion-content overflow-scroll='false' delegate-handle="userDetailContent" on-scroll="onUserDetailContentScroll()" header-shrink scroll-event-interval="5">
		<div class="wisata-header">
			<div class="wisata-media">
				<div class="wisata-details">
					<img  ng-src="http://lorempixel.com/400/500/people" class="img-circle wisata-image">
					<h5 class="color-white">
						people
					</h5>
					<p>
						Some thing About
					</p>
				</div>
				<img ng-src="img/default.jpg" class="about-image wisata-background-image" style="vertical-align:middle;max-height: 20%;transform: scale(10);">
			</div>
			<div class="row menu-detail">
				<div class="col col-25">
					<a href="" class="menu-item">
						<i class="ion-map"></i><br>Map
					</a>
				</div>
				<div class="col col-25">
					<a href="" class="menu-item">
						<i class="ion-images"></i><br>Galery
					</a>
				</div>
				<div class="col col-25">
					<a href="" class="menu-item">
						<i class="ion-chatbox"></i><br>Review
					</a>
				</div>
				<div class="col col-25">
					<a href="" class="menu-item">
						<i class="ion-android-share-alt"></i><br>Share
					</a>
				</div>
			</div>
			<!-- <div class="row like-btn">
				<div class="col text-right">
					<div ng-class="liked ? 'bg-color-red like-button-with-text':'bg-color-white like-button'" ng-click="like()">
						<i class="ion-heart" ng-class="liked ? 'color-white':'color-red'"></i>
						<span ng-if="liked">Liked</span>
					</div>
				</div>
			</div> -->
		</div>
		<div class="card">
			<div class="item item-divider">
				Syarat dan Ketentuan
			</div>
			<div class="item item-text-wrap">
					Peserta quiz wajib membeli produk Makarizo Hair Energy All Variant 60 Gram atau Makarizo Hair Scentsations 30 mili.
	Peserta wajib memasukan kode struk pembelian Makarizo Hair Energy sebelum memainkan games.
	Peserta dapat memainkan games match and win lebih dari satu kali untuk menambah poin dengan catatan kode unik struk yang di upload harus berbeda tidak boleh sama.
	Peserta bisa menukarkan point (redeem point) dengan voucher pulsa harian bila mengumpulkan point 45 dan kelipatannya pertama di satu hari (Baca Mekanisme redeem point).
	Setiap kode unik pembelian akan di verifikasi oleh pihak Makarizo.
	Games akan dimulai (berjalan) apabila kode unik struk pembelian Hair Energy sesuai.
	Diakhir periode peserta dengan jumlah point terbesar akan mendapatkan hadiah utama berupa Iphone 6 untuk point tertinggi .
	Makarizo berhak menganulir pemenang apabila ada indikasi penipuan pada kode unik pembelian Makarizo Hair Energy dan akan di tindak sesuai dengan hukum yang berlaku di Negara Republik Indonesia.
	Makarizo berhak mengubah syarat dan ketentuan tanpa ada pemberitahuan.
	Keputusan Makarizo tidak dapat diganggu gugat.
			</div>
		</div>

	</ion-content>
</ion-view>