<ion-view view-title="Tempat di Sekitar">
	<ion-content>
	</ion-content>
</ion-view>

<ion-tabs class="tabs-map">
	<!-- Wisata Tab -->
	<ion-tab title="Wisata" icon-off="ion-ios-location-outline" icon-on="ion-ios-location">
		<ion-view>
			<ion-content>
				<div class="panel panel-default">
					<div class="panel-body">
						<div id='map'>
							<google-map control="mapWisata.control" center="mapWisata.center" zoom="mapWisata.zoom">
								<marker coords="markerWisata.center"></marker>
							</google-map>
						</div>
					</div>
				</div>

				<div class="list">
					<a class="item item-thumbnail-left item-text-wrap" href="#/app/map/detail/1">
						<img src="img/ionic.png">
						<h2>Floating Market Lembang</h2>
						<p>
							<i style="background-color:#2C3E50;color:#fff;padding-left:5px;margin-right:2px;">
								8.1
							</i> Wisata 20m <br>
							<i class="ion-ios-location" style="color:#EF473A;"></i> No 2. Lembang
						</p>
					</a>
				</div>
			</ion-content>
		</ion-view>
	</ion-tab>

	<!-- Kuliner Tab -->
	<ion-tab title="Kuliner" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart">
		<!-- <ion-nav-view name="tab-loved"></ion-nav-view> -->
		<ion-view>
			<ion-content>
				<div id="map" data-tap-disabled="true"></div>
				<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
			</ion-content>
		</ion-view>
	</ion-tab>
</ion-tabs>