/* Empty. Add your own CSS if you like */
.abLembang-nav{
	background-color: #2C3E50;
	color: #fff;
}

.abLembang-nav .title{
	color: #fff;
	font-weight: 300;
}

.tabs-map .tabs {
	color: #fff;
    background-color: #2C3E50;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-top: 2px;
}

.bar .button.market-btn, .bar button.market-btn{
	font-size: 100px;
}

.abLembang-button-clear{
    border: none;
    background: 0 0;
    color:#b2b2b2;
}

.abLembang-button-clear:hover{
    color:#b2b2b2;
}

.abLembang-button-clear:focus{
	border: none;
    background: none;
}

.angular-google-map {
	display: block;
}

.angular-google-map-container { 
	height:150px; 
}

.scroll-bar-indicator{
	display: none;
}

#map {
  width: 100%;
  /*height: 100%;*/
}

.kotak-more p{
	text-align: center;
	color: #fff;
	font-size: 10px;
}

.button-menu-more{
	border-color: transparent;
	background-color: #42412F;
	color: #fff;
	font-size: 30px;
}

.scroll {
  height: 100%;
}

/* Detail wisata */
.wisata-header{
	background-color: #444;
	height: 230px;
	overflow: hidden;
}

.img-circle {
	border-radius: 50%;
}

.wisata-media {background: #000; min-height: 237px; overflow: hidden; position: relative;}
.wisata-media .wisata-background-image {
	/*opacity: 0.3;*/
	position: absolute;
	object-cover:fit;
	top:-100%;
	left:0;
	right: 0;
	bottom:-100%;
	margin: auto;
}
.wisata-media .wisata-details {text-align: center; position: absolute; width: 100%; color: #fff; padding: 20px 5% 0 5%;}
.wisata-media .wisata-details .wisata-image {
	width: 76px;
	height:76px;
	object-cover:fit; 
	/*border: 4px solid rgba(255, 255, 255, 0.9);*/
}



/*Menu Detail*/
.menu-detail{
	top: 180px;
	/*display: block;*/
	/*display: flex;*/
	border-color: #b2b2b2;
	background-color: #222222;
	
	color: #444;
	position: absolute;
	bottom: 0;
	z-index: 5;
	width: 100%;
	height: 55px;
	border-style: solid;
	background-size: 0;
	line-height: 15px;
}

.menu-item{
	display: block;
	overflow: hidden;
	height: 100%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 100;
	font-size: 14px;
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	opacity: 0.7;
}

.like-btn{
    top: 110px;
    display: block;
    position: absolute;
    color: #fff;
}


.like-button {
    border-radius: 500px;
    width: 70px;
    height: 70px;
    z-index: -200;
    text-align: center;
    overflow: hidden;
    clear: both;
    color: white;
    border: 5px solid #CBD0D3;
}
.like-button i{
    font-size: 40px;
    margin: 11px 0;
    display: block;
}
.like-button-with-text {
    border-radius: 500px;
    width: 70px;
    float: right;
    height: 70px;
    z-index: -200;
    text-align: center;
    overflow: hidden;
    clear: both;
    color: white;
    border: 5px solid #CBD0D3;
}
.like-button-with-text i{
    font-size: 35px;
    margin: 4px 0;
    display: block;
    margin-bottom: -3px !important;
}
.like-button-with-text span{
    font-size: 11px;
}

/* Galeri Image */
/*Image Modal*/
.scroll {
  height: 100%;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
  background: rgba(0,0,0,0.7);
}
 
.slider {
    width: 100%;
    height: 100%;
}
 
.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

.loading-spinner{
	width: 28px;
	height: 28px;
}

p.info {
	background-color: #000;
	position: absolute;
	bottom: 55px;
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	padding: 10px;
	-moz-opacity: 0.6;
	opacity: 0.6;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
	.active .modal-backdrop-bg {
		opacity: .5;
	}
	.modal-backdrop-bg {
		-webkit-transition: opacity 300ms ease-in-out;
		transition: opacity 300ms ease-in-out;
		background-color: #000;
		opacity: 0;
	}
}